<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alla roller</title>
</head>
<body>
<h1>Alla roller</h1>

<p><a th:href="@{/}">Tillbaka till startsidan</a></p>

<ul>
    <li th:each="role : ${roles}">
        <span th:text="${role.title}"></span>
        <a th:href="@{/roles/{id}(id=${role.id})}">Visa info om rollen</a>
        <span> - </span>
        <a th:href="@{/roles/{id}/edit(id=${role.id})}">Uppdatera roll</a>

        <form th:action="@{/roles/{id}(id=${role.id})}" method="post" style="display:inline;">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">Ta bort</button>
        </form>


    </li>
</ul>

<a th:href="@{/roles/new}">Skapa ny roll</a>


</body>
</html>